
body {
	background-color: #633555;
	font-family: 'Montserrat Alternates', sans-serif;
}

h1,h2,h3,h4,h5,h6,.h1,.h2,.h3,.h4,.h5,.h6{
	color: #643555;
	font-weight: 700;
	font-family: 'Montserrat Alternates', sans-serif;
}

p {
	font-size: 1.2em;
	color: #fff;
}

/*-----------------------------------------------------------------------------------*/
/*	navbar
/*-----------------------------------------------------------------------------------*/

#navbar_nav {
	background-color: rgba(99,53,85,0.95);
	border: none;
}

#navbar li {
	cursor: pointer;
}

.navbar-brand {
	height: 70px;
	cursor: pointer;
}

.navbar-main-logo {
	height: 100%;
}

/* text */
.navbar-default .navbar-nav>li>a {
	font-size: 14px;
	color: #F8C267;
}

/* text on hover */
.navbar-default .navbar-nav>li>a:focus, 
.navbar-default .navbar-nav>li>a:hover {
  color: #E16746;
  background-color: transparent;
}

.navbar-default .navbar-nav>li:focus, 
.navbar-default .navbar-nav>li:hover {
  box-shadow: 0 0px 12px rgba(0,0,0,.175);
}

/* dropdown buttons on click */
.navbar-default .navbar-nav>.open>a, 
.navbar-default .navbar-nav>.open>a:focus, 
.navbar-default .navbar-nav>.open>a:hover {
  color: #E16746;
  background-color: transparent;
}

.dropdown-menu {
	background-color: rgba(99,53,85,0.95);
	border-top: none;
	border: none;
  -webkit-box-shadow: 0 8px 12px rgba(0,0,0,.175);
  box-shadow: 0 8px 12px rgba(0,0,0,.175);
}

.dropdown-menu>li>a {
  color: #F8C267;
  padding-top: 10px;
  padding-bottom: 10px;
}

.dropdown-menu>li>a:focus,
.dropdown-menu>li>a:hover {
  color: #E16746;
  background-color: transparent;
}

/*open dropdown-menu on hover*/
.dropdown:hover .dropdown-menu {
    display: block;
    margin-top: 0; /*remove the gap so it doesn't close*/
 }

/* navbar height */
.navbar-nav > li > a { 
	padding-top:25px; 
	padding-bottom:25px; 
}

.snipe-store-link img {
	height: 20px;
	margin-top: -3px; 
	margin-right: 5px; 
}

/* Mobile */

.navbar-default .navbar-toggle {
	border-color: transparent;
	margin-top: 18px;
	background-color: #613354;
}

.navbar-default .navbar-toggle:focus,
.navbar-default .navbar-toggle:hover {
	background-color: #48173C;
}

.navbar-default .navbar-collapse {
	border: none;
}

.navbar-default .navbar-toggle .icon-bar {
	background-color: #F9CA61;
}

/*-----------------------------------------------------------------------------------*/
/*	Snipe Logo
/*-----------------------------------------------------------------------------------*/
#snipe_jumbotron {
	height: 100vh;
	text-align: center;
	padding-top: 32vh;
	position: relative;
	background-size: 100%;
} 

.snipe-logo {
	height: 18vh;
	text-align: center;
	/*border: 1px solid yellow;*/
}

.subtitle {
	margin: 0;
	font-size: 3vh;
	text-align: center;
	color:#fff;
	/*border: 1px solid yellow;*/
}

.caret-down {
	position: absolute;
	top: 95%;
	cursor: pointer;
}


/*-----------------------------------------------------------------------------------*/
/*	Products Preview Section
/*-----------------------------------------------------------------------------------*/

#product-preview {
	background-color: #0E86AC; 
}

/* carousel */
#employee_carousel {
	padding: 40px 0 100px;
	border-top: 1px solid #EEE; /*#EEE*/
	border-bottom: 1px solid #EEE;
	margin: 70px 0;
}

#employee_carousel .carousel-indicators li {
	width: 45px;
	height: 6px;
	margin: 0 2px;
	border-radius: 0px;
	border: none;
	background: #FFFFFF;
	cursor: pointer;
	/*border: 2px solid white;*/
}
	
#employee_carousel .carousel-indicators .active {
	width: 45px;
	height: 6px;
	margin: 0 2px;
	border-radius: 0px;
	border: none;
	background: #F9CA61;
}

/*#employee_carousel .super-sale-content,
#employee_carousel .store-content {
	margin-bottom: 50px;
}*/

#employee_carousel h1 {
	color: #F9CA61;
}

#employee_carousel a {
	color: #F9CA61;
	font-weight: bold;
}


@media screen and (orientation:portrait) { 	 	
	#employee_carousel h1 {
		display: none;
	}
}

/* paragraphs */
#employee_carousel p {
	text-align: justify;
	color: white; /* red -> D7605E*/
}

@media screen and (orientation:portrait) { 	 	
	#employee_carousel p {
		margin-top: 20px
	}
}

.super-sale-image, 
.store-image {
	text-align: center;
}

/*-----------------------------------------------------------------------------------*/
/*	Sections
/*-----------------------------------------------------------------------------------*/

.section-header  {
	width: 80%;
	margin: 50px auto;
}

.section-header p {
	text-align: center;
}

.section-header span {
	text-transform: uppercase;
	font-weight: bold; 
	font-size: 1.8em;
}

.section-content .row {
}

.section-content p {
	text-align: justify;
}

.section-content div,
.section-content h2 {
	text-align: center;
}

.section-content .row > div {
	margin-top: 100px;
	margin-bottom: 100px;
	padding: 0 20px;
}

.section-content img { height: 180px; }
.section-content h2 { font-size: 1.5em; }
.section-content p { font-size: 1.1em; }


/*-----------------------------------------------------------------------------------*/
/*	Employee Section
/*-----------------------------------------------------------------------------------*/

#employee {
	width: 100%;
	background-color: white; /*lightblue -> #5DCDC9  blue-> #0E86AC*/
}

#employee .section-header span { color: #633555; }
#employee .section-content h2  { color: #633555; }
#employee .section-content		 { border-top: 1px solid #633555; }

#employee .section-header p,
#employee .section-content p {
	color: #D7605E;
}

/*-----------------------------------------------------------------------------------*/
/*	Corporate Section
/*-----------------------------------------------------------------------------------*/

#corporate {
	width: 100%;
	background-color: #FFFFFF;
}

#corporate .section-header span { color: #633555; }
#corporate .section-content h2  { color: #633555; }
#corporate .section-content		 { border-top: 1px solid #633555; }

#corporate .section-header p,
#corporate .section-content p {
	color: #D7605E;
}

/*carousel*/

.corporate-carousel-header {
	text-align: center;
}

.corporate-carousel {
	/*border:2px solid blue;*/
	margin: 30px auto;
	width: 90%;
}

.corporate-carousel img {
	padding: 10px 0;
	height: 100px;
	display: block;
	margin: 0 auto;
}

/*-----------------------------------------------------------------------------------*/
/*	Merchant Section
/*-----------------------------------------------------------------------------------*/

#merchant {
	background-color: #0E86AC; /*5DCDC9*/
}

#merchant .section-header span { color: #F9CA61; }
#merchant .section-content h2  { color: #F9CA61; }
#merchant .section-content		 { border-top: 1px solid #FFF; }


/*-----------------------------------------------------------------------------------*/
/*	Contact Us Section
/*-----------------------------------------------------------------------------------*/

#contact_us {
	padding: 100px 0;
	width: 100%;
	background-color: #D7605E;
}

#contact_us p span {
	font-weight: bold;
}

.contact-options {
	margin-bottom: 30px;
}

.contact-icon {
	text-align: center;
	height: 100px;	
	margin: 20px auto;
}

.contact-icon * {
	cursor: pointer;
}

.contact-icon label {
	display: inline;
}

.contact-icon img {
	height: 100%;
}

.form-section {
	margin-top: 5px;
}

#contact-form .form-control[disabled] {
	background-color: #CCC;
}

#position-field {
	display: none;
}

.icon-employee {
	background: url();
}

.contact-input.btn {
	background-color: #F9CA61;
	border-color: #F9CA61;
}

#user-type select {
	padding-left: 9px;
}

#user-type option:first-child {
	display: none;
}

.contact-success,
.contact-failure {
	display: none;
}

.contact-failure {
	width: 100%;
	margin-bottom: 0;
}

/*-----------------------------------------------------------------------------------*/
/*-----------------------------------------------------------------------------------*/
/*	Products Page
/*-----------------------------------------------------------------------------------*/
/*-----------------------------------------------------------------------------------*/

.product {
	background-color: white;
}

.product .row {
	margin: 0;
	padding: 75px 0;
}

.product h1 {
	font-weight: 300;
	font-size: 3em;
}

.product p {
	color: #D7605E;
}

.product-img img{
	width: 100%;
}

.product-desc {
	/*border: 1px solid blue;*/
}

.desc-1 { }
.desc-2 { text-align: right; }

.product .icon-tray {
	text-align: center;
}

.product .icon-tray img {
	height: 100px;
	margin-top: 30px;
}


/*carousel*/

#product-1-carousel {
	background-color: #0E86AC;
}

.corporate-carousel-header {
	text-align: center;
}

.supersale-gallery {
	/*border:2px solid blue;*/
	/*margin: 30px auto;*/
	/*width: 90%;*/
}

.supersale-gallery img {
	/*padding: 10px 0;*/
	margin: 0 10px;
	height: 400px;
	/*display: block;*/
	/*margin: 0 auto;*/
	/*border: 1px solid black;*/
}

#product-1-carousel {
	background-color: #0E86AC;
}

.slick-prev:before,
.slick-next:before
 {
	color: #643555;
}

/* product 2 */

#product-2-steps {
	background-color: #5DCDC9;
	padding: 50px 0;
}

#product-2-steps p {
	color: white;
}

/* snipestore laptops*/
.snipestore-laptop {
	text-align: center;
}

.snipestore-screen-view img {
	width: 100%;	
}

@media (max-width: 768px) { 
	.product-desc p {
		margin-top: 10px;
		text-align: justify;
	}
}


/*-----------------------------------------------------------------------------------*/
/*-----------------------------------------------------------------------------------*/
/*	Team Page
/*-----------------------------------------------------------------------------------*/
/*-----------------------------------------------------------------------------------*/

#team-banner{
	margin-top: 70px;
	height: 150px;
	background-color: #0E86AC;
}

#team-banner h1 {
	color: white;
	margin: 0;
	line-height: 150px;
	vertical-align: middle;
}

/* Team Thumbnails */

#team-details {
	background-color: white;
	margin-top: 70px;
	padding: 100px 0;
}

#team-details * {
	font-family: 'Poppins', sans-serif;
}

#team-details .row > div {
	text-align: center;
	padding: 15px 10px;
	/*border: 1px solid red;*/
}

#team-details .row > div h4 { margin-bottom: 0; }
#team-details .row > div h5 {	margin: 0 }


/* Team Portrait */

.team-portrait {
	position: relative;
}

.team-portrait img {
	/*width: 100%;*/
	height: 250px;
	border-radius: 5px;
}

.team-portrait .overlay-icons {
	position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  visibility: hidden;
  opacity: 0;
  transition: visibility 0s, opacity 0.1s linear;
}

.team-portrait:hover .overlay-icons {
  visibility: visible;
  opacity: 1;
}

.team-portrait .overlay-icons img {
	height: 100px;
	width: auto;
	margin: 5px 0;
}

.team-portrait .overlay-icons img:hover {
	 filter:brightness(200%);
}

.team-portrait .overlay-cover {
	position: absolute;
	top:0;
	height: 100%;
	width: 100%;
	background-color: #633455;
	border-radius: 5px;

  visibility: hidden;
  opacity: 0;
  transition: visibility 0s, opacity 0.1s linear;
}

.team-portrait:hover .overlay-cover {
  visibility: visible;
  opacity: 0.7;
}

/* Awards */

@font-face {
  font-family: "Canterbury";
  src: url(../fonts/Canterbury.ttf);
}

#awards {
	text-align: center;
	position: relative;
	background-size: 100% 100%;
  background-repeat: no-repeat;
	padding: 0;
}

.award-logo {
	margin-top: 60px;
	height: 60px;
	filter:brightness(100%);
}

#awards .subtitle {
	margin-top: 100px;
  font-family: "Canterbury";
  color: white;
  font-size: 50px;
  font-weight: 500;
	filter:brightness(100%);
}

.borderbottom {
	margin: 20px auto 0;
	width: 100px;
	color: white;
	border-bottom-style: double;
	filter:brightness(100%);
}

#awards .overlay {
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: black;
	opacity: 0.8;
}

.company-logos {
	padding: 0 10vw;
	margin: 20px 0 100px;
}

.company-logos img{
	width: 100%;
	padding: 20px;
}

/*-----------------------------------------------------------------------------------*/
/*-----------------------------------------------------------------------------------*/
/*	Modal
/*-----------------------------------------------------------------------------------*/
/*-----------------------------------------------------------------------------------*/

#myModal .modal-header,
#myModal .modal-footer {
	background-color: #633555;
}

#myModal .modal-header {
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
}

#myModal .modal-footer {
	border-bottom-left-radius: 3px;
	border-bottom-right-radius: 3px;
}

#myModal .modal-header h4 {
	color: #F9CA61;
}

#myModal .modal-body {
	height: 120px;
}

#myModal .modal-body div {
  height: 90px;
  line-height: 90px;
  font-size: 20px;
  white-space: nowrap;
}

#myModal .modal-footer button {
	background-color: #D7605E;
	border: none;
	color: #F9CA61;
	font-weight: bold;
}

#myModal .modal-footer button:hover {
	filter:brightness(90%);
}