/*-----------------------------------------------------------------------------------*/
/*-----------------------------------------------------------------------------------*/
/*	Team Page
/*-----------------------------------------------------------------------------------*/
/*-----------------------------------------------------------------------------------*/

#team-banner{
	margin-top: 70px;
	height: 150px;
	background-color: #0E86AC;
}

#team-banner h1{
	color: white;
	margin: 0;
	line-height: 150px;
	vertical-align: middle;
}

/* Team Thumbnails */

#team-details {
	background-color: white;
	margin-top: 70px;
	padding: 100px 0;
}

#team-details .row > div {
	text-align: center;
	padding: 20px 20px;
	/*border: 1px solid red;*/
}

.team-portrait {
	margin: 0 auto;
	height: 300px;
	width: 300px;
	background-size: 100%;
	border-radius: 5px;
}

.team-portrait .overlay {   
	border-radius: 5px; 
  position: relative;
	height: 100%;
	background-color: rgba(99, 52, 85, 0.9);
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s, opacity 0.1s linear;
}

.team-portrait:hover .overlay {
  visibility: visible;
  opacity: 1;
}

.team-portrait .overlay h5 {
	color: white;
	font-weight: 300;
}

.team-portrait .overlay div {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.team-portrait .overlay img {
	height: 50px;
	margin: 0 10px;
}

.team-portrait .overlay img:hover {
	 filter:brightness(50%);
}

/* Team Description */


#team-details .row div h4 {
	margin-bottom: 2px;
}

#team-details .row div h5 {
	color: #D7605E;
	margin: 0;
}